
@{
    ViewData["Title"] = "Payment";
}

<h2>Payment</h2>

How would you like to pay Credit Card or Paypal?

<!-- NEEDS TO BE IMPLEMENTED -->

<div style="width:100%; height:100%">
    <button type="button>Credit Card</button>
    <button type="button>Paypal</button>
</div>