@{
    ViewData["Title"] = "EndLease";
}
<!--Message that user is no longer the owner-->
<h1 align="center">End Lease</h1>
<h6>You are no longer the owner for that property</h6>

<!--Button that allow user to go to rent page-->
<div align="center" style="width:100%; height:100%">
    <input type="button" value="Search for a New Property" onclick="@("window.location.href='" + @Url.Action("Index", "Rent") + "'");" />
</div>