@{
    ViewData["Title"] = "Account";
}

<h1 align="center">Account</h1>

<h6 align="center">Here is your profile. Here is your current Lease. Would you like to renew the lease or end the lease?</h6>
 
<div style="width:100%; height:100%">
    <button type="button">Current Lease (Available)</button>
    <button type="button">Renew Lease(Available)</button>
    <button type="button">End Lease (Available)</button>
</div>