@model List<AGRental.Models.Properties>

@{
    ViewData["Title"] = "addViewProperty";
}

<!-- Title for the page-->
<h2 align="center"><b>Congrats you are the new ower of that property!</b></h2>

<center><img src="https://villagegreennj.com/wp-content/uploads/2018/04/Sold-with-tag-1-337x258.jpg" alt="ACCESS DENIED"</center>

<br />
<br />

<!-- Button to return to view the Account-->
<div align="center" style="width:100%; height:100%">
    <input type="button" value="View Account" class="btn btn-secondary btn-lg" onclick="@("window.location.href='" + @Url.Action("Index", "Account") + "'");" />
</div>