
@{
    ViewData["Title"] = "Rent";
}

<h2>Rent</h2>
Here are the available properties that we have to offer!!

<!--

    <div style="width:100%; height:100%">
    <input type ="button" value="Current Lease" onclick="("window.location.href =' " + Url.Action("actionNmae", "controllerName" + "'");"l />
    <button type="button>Current Lease (Available)</button>
    <button type="button>Renew Lease(Available)</button>
    <button type="button>End Lease (Available)</button>
    </div>

-->
