@model IEnumerable<AGRental.Models.Properties>

@{
    ViewData["Title"] = "Rent";
}
<h2 align="center">Rent</h2>
<h6 align="center">Here are the available properties that we have to offer!!</h6>

@foreach (var item in Model)
{
    <table>
        <tr>
            <td>
                <a asp-action="ViewProperty" asp-route-id="@item.Property_ID">@Html.DisplayFor(modelItem => item.property_name)</a>
            </td>
        </tr>
    </table>
}
