@model List<AGRental.Models.User>

@{
    ViewBag.Title = "Users Index";
}
<h1>@ViewBag.Title</h1>

<!-- Display when user logins -->

@if (ViewBag.Username.Length > 0)
{
    <h3>Welcome, @ViewBag.Username !!!</h3>
    <p class="text-success">You have Succsessfully Logged In @ViewBag.Username <span class="glyphicon glyphicon-ok " aria-hidden="true"></span></p>
}

<p><a asp-action="Logout">Logout</a></p>

© 2019 GitHub, Inc.