@model AGRental.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
}
<h1>@ViewBag.Title</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-1">
            <div class="landingReturningCustomers landingWrapper" id="landingReturningCustomers">
                <h2 class="text-center">Returning User</h2>
                <div>
                    <!-- USER LOGIN -->
                    <h4>If you already have an account, please sign in.</h4>
                    <form asp-controller="User" asp-action="Login" method="post">
                        <label asp-for="Username"></label>
                        <div class="form-group">
                            <input class="form-control " asp-for="Username" value="@Model.Username" />
                            <span class="small text-danger" asp-validation-for="Username"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input class="form-control" asp-for="Password" />
                            <span class="small text-danger" asp-validation-for="Password"></span>
                        </div>
                        <input class="pull-right btn btn-primary" type="submit" value="Login" />
                        <br />
                        <br />
                        <div>
                            @if (Model.ServerError)
                            {
                                <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                            }
                            <span class="text-danger" asp-validation-for="ServerError">
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- User Sign Up -->
        <div class="col-md-6 col-md-offset-1">
            <div class="landingNewCustomers landingWrapper">
                <h2 class="text-center">Create New User Account</h2>
                <div>
                    <h4>Don’t have an Account yet?  &nbsp &nbsp Sign up now - it's Free and Easy!</h4>
                    <br /><br />
                    <p class="text-center">
<<<<<<< HEAD
                        <a asp-controller="User" asp-action="SignUp"><button type="button" class="btn btn-default btn-lg">
=======
                        <a asp-controller="User" asp-action="SignUp">
                            <button type="button" class="btn btn-default btn-lg">
>>>>>>> Project Working with Images
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Create an Account
                            </button>
                        </a>
                    </p>
                </div>
            </div>
<<<<<<< HEAD
            <br/>
=======
            <br />
>>>>>>> Project Working with Images
        </div>
    </div>
</div>
