@{
    ViewData["Title"] = "Home Page";
}

<h1 align="center">Welcome to AG Rental Properties</h1>

<h6 align="center">This is my rental application that will allow users to rent, renew leases, and pay for their rent.</h6>